@font-face {
    font-family: 'Gang of Three';
    src: url('go3v2.ttf') format('truetype');
}
body{
    font-weight: 100;
    background-color: black;
    font-family: 'Gang of Three', sans-serif;
    color: #95D600;
}

h1 {
    background-color: #7B1FA2;
    text-align: center;
    height: 50px;
    border: 10px solid #2E1A47;
    padding-top: 20px;
    margin-left: auto;
}

#banner{
    width: 100%;
}

.itens {
    font-style: italic;
}

.beneficios {
    background: linear-gradient(to top, #561970, #7B1FA2);
    height: 100vh;
    margin: 0;
    padding: 20px;
    
    
}

.principal {
    background-color: #7B1FA2;
    padding: 30px;
}

p {
    text-align: center;
}

h3 {
    text-align: center;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 13%;
    margin-right: 15%;
}